<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<nav>
    <ul class="nav nav-tabs" style="width:100%;">
      <li class="nav-item" style="margin-left: 3%; margin-right:50%;">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/goodInfoAll">상품 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeInfoAll">판매점 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeNumber">지역별 판매점 수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/">상품 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/">판매점 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/price/">가격 정보 검색</a>
      </li>
    </ul>
</nav>
<br>

<div style="text-align:center;">
    <label>상품 이름으로 가격 검색</label>
</div>
<form action="/price/priceByGoodName" method="POST">
    <div class="form-row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="goodName" placeholder="상품 이름">
        </div>
        <div class="col-2">
            <input type="date" class="form-control" name="dayFromForm">
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-primary mb-2" value="검색">
        </div>
    </div>
</form>
<br>
<br>

<div style="text-align:center;">
    <label>상품 이름으로 할인 판매점 검색</label>
</div>
<form action="/price/priceDCByGoodName" method="POST">
    <div class="form-row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="goodName" placeholder="상품 이름">
        </div>
        <div class="col-2">
            <input type="date" class="form-control" name="dayFromForm">
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-primary mb-2" value="검색">
        </div>
    </div>
</form>
<br>
<br>

<div style="text-align:center;">
    <label>판매점 이름으로 가격 검색</label>
</div>
<form action="/price/priceByEntpName" method="POST">
    <div class="form-row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="entpName" placeholder="판매점 이름">
        </div>
        <div class="col-2">
            <input type="date" class="form-control" name="dayFromForm">
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-primary mb-2" value="검색">
        </div>
    </div>
</form>
<br>
<br>

<div style="text-align:center;">
    <label>상품 별 평균, 최고, 최저가 검색</label>
</div>
<form action="/price/priceData" method="POST">
    <div class="form-row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="goodName" placeholder="판매점 이름">
        </div>
        <div class="col-2">
            <input type="date" class="form-control" name="dayFromForm">
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-primary mb-2" value="검색">
        </div>
    </div>
</form>
</body>
</html>