<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>판매점별 가격 목록</title>
</head>
<body>
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/goodInfoAll">상품 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeInfoAll">판매점 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeNumber">지역별 판매점 수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/">상품 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/">판매점 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/price/">가격 정보 검색</a>
      </li>
    </ul>
</nav>

<table border="1" class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>상품조사일</th>
            <th>업체명</th>
            <th>상품명</th>
            <th>상품 가격</th>
            <th>1+1여부</th>
            <th>상품할인여부</th>
            <th>상품할인시작일</th>
            <th>상품할인종료일</th>
            <th>정보입력일시</th>
        </tr>
    </thead>
    {% for price in priceList %}
    <tr>
        <td>{{price.goodInspectDay}}</td>
        {% for names in storeNameList %}
            {% if price.entpId == names.entpId %}
                <td>{{names.entpName}}</td>
            {% endif%}
        {% endfor %}

        {% for names in prodNameList %}
            {% if price.goodId == names.goodId %}
                <td>{{names.goodName}}</td>
            {% endif%}
        {% endfor %}
        <td>{{price.goodPrice}}</td>
        <td>{{price.plusoneYn}}</td>
        <td>{{price.goodDcYn}}</td>
        <td>{{price.goodDcStartDay}}</td>
        <td>{{price.goodDcEndDay}}</td>
        <td>{{price.inputDttm}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>