<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<nav>
    <ul class="nav nav-tabs" style="width:100%;">
      <li class="nav-item" style="margin-left: 3%; margin-right:50%;">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/goodInfoAll">상품 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeInfoAll">판매점 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeNumber">지역별 판매점 수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/">상품 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/">판매점 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/price/">가격 정보 검색</a>
      </li>
    </ul>
</nav>
{% for goods in goodList %}
<h3>{{goods.goodName}} 상품 정보</h3>
{% endfor %}
<table border="1">
    <tr><th>상품 아이디</th><th>상품명</th><th>상품단위</th>
        <th>상품단위량</th><th>상품소분류</th><th>상품설명</th>
        <th>상품용량</th><th>상품용량 구분</th></tr>
    {% for goods in goodList %}
    <tr>
       <td>{{goods.goodId}}</td>
       <td>{{goods.goodName}}</td>
        {% for std in UTList %}
            {% if goods.goodUnitDivCode == std.code %}
                <td>{{std.codeName}}</td>
            {% endif%}
        {% endfor %}

       <td>{{goods.goodBaseCnt}}</td>

       {% for std in ALList %}
            {% if goods.goodSmlclsCode == std.code %}
                <td>{{std.codeName}}</td>
            {% endif%}
        {% endfor %}
       <td>{{goods.detailMean}}</td>
       <td>{{goods.goodTotalCnt}}</td>
       {% for std in UTList %}
            {% if goods.goodTotalDivCode == std.code %}
                <td>{{std.codeName}}</td>
            {% endif%}
        {% endfor %}
    {% endfor %}
    </tr>
</table>
</body>
</html>