<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <title>상품 목록</title>
</head>
<body>
<nav>
    <ul class="nav nav-tabs" style="width:100%;">
      <li class="nav-item" style="margin-left: 3%; margin-right:50%;">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/product/goodInfoAll">상품 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeInfoAll">판매점 목록</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/storeNumber">지역별 판매점 수</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/">상품 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store/">판매점 정보 검색</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/price/">가격 정보 검색</a>
      </li>
    </ul>
</nav>
<br>
<form name="KeywordSearch" method="GET" action="/product/goodInfoAll_Search">
    <div class="form-row" style="margin-left:10%">
        <div class="col-1">
            <select id="keyword_category" name="keyword_category" class="custom-select mr-sm-2">
                <option value="goodAll">전체검색</option>
                <option value="goodId">상품 아이디</option>
                <option value="goodName">상품명</option>
            </select>
        </div>
        <div class="col-2">
            <input type="text" class="form-control" name="keyword_search" value="" placeholder="검색 키워드를 입력하세요."/>
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-primary mb-2" id="KeywordSearch_Submit" name="KeywordSearch_Submit" value="검색" />
        </div>
    </div>
</form>

<table border="1" class="table table-hover" style="width:80%;margin-left:auto;margin-right:auto;">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>상품 아이디</th>
            <th>상품명</th>
            <th>상품단위</th>
            <th>상품단위량</th>
            <th>상품소분류</th>
            <th>상품설명</th>
            <th>상품용량</th>
            <th>상품용량 구분</th>
        </tr>
    </thead>

    {% for goods in goodList %}
    <tr>
        <td class="text-center">{{goods.goodId}}</td>
        <td>{{goods.goodName}}</td>
        {% for std in UTList %}
            {% if goods.goodUnitDivCode == std.code %}
                <td>{{std.codeName}}</td>
            {% endif%}
        {% endfor %}
        <td>{{goods.goodBaseCnt}}</td>

        {% for std in ALList %}
            {% if goods.goodSmlclsCode == std.code %}
                <td>{{std.codeName}}</td>
            {% endif%}
        {% endfor %}
        <td>{{goods.detailMean}}</td>
        <td>{{goods.goodTotalCnt}}</td>
        {% for std in UTList %}
            {% if goods.goodTotalDivCode == std.code %}
                <td>{{std.codeName}}</td>
            {% endif%}
        {% endfor %}
    </tr>

    {% endfor %}
</table>
</body>
</html>